.App {
  text-align: center;
  font-size: larger;
}
.center {
  display: grid;
  justify-content: center;
  padding: 20px;
}
.colorPicker {
  margin: 20px;
}
.grid-container {
  display: grid;
  box-sizing: border-box;
  height: 512px;
  width: 512px;
  grid-template-columns: repeat(32, 16px);
  border: solid black 1px;
}

.cell {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: solid 1px #888;
}
.highlight {
  width: 16px;
  height: 16px;
  background-color: #afa;
}
